/* GENERAL STYLES */
*{
    box-sizing: border-box;
}

body {
    background-color: #0D1321;
}

.container.page-header {
    border-color: red;
    background-color: #1d2d44;
    display: block;
}

.container.description {
    border-color: green;

    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.container.link-block {
    display: inline-block;
    padding: 12px 12px;
    margin-left: 40px;

    border-left-style: groove;
    border-left-width: 2px;
    border-left-color: #f0ebd8;
}

.image {
    width: 400px;
    height: auto;
}

/* TEXT STYLES */
/* GENERIC */
.text {
    font-family: "Verdana", "Helvetica", sans-serif;
    color: #F0EBD8;
    font-weight: 300;
}

/* LINKS */
.link {
    color: #748CAB;
    font-weight: 400;
}

.button.link.text{
    color: #1d2d44;
    font-size: 16px;
    font-weight: 600;
    margin-left: 0px;
}

/* BUTTONS */
.button.link{
    width: 200px;
    display: block;
    padding: 4px 0px;
    margin-left: 50px;
}

/* HEADERS AND TITLES */
.header {
    font-weight: 600;
    font-size: 24px;
}

.sub-header {
    font-weight: 600;
    font-size: 18px;
}

.title {
    font-size: 36px;
    font-weight: 800;
}

.footer,
.disclaimer {
    font-size: 12px;
    font-weight: 200;
}