/* GENERAL STYLES */
.page {
    background-color: #0D1321;
}

.link-block,
.container.description {
    background-color: #1d2d44;
}

.image {
    width: 400px;
    height: auto;
}

/* TEXT STYLES */
/* GENERIC */
.text {
    font-family: "Verdana", "Helvetica", sans-serif;
    color: #F0EBD8;
    font-weight: 300;
}

/* LINKS */
.link {
    color: #748CAB;
    font-weight: 400;
}

/* HEADERS AND TITLES */
.header {
    font-weight: 600;
    font-size: 24px;
}

.sub-header {
    font-weight: 600;
    font-size: 18px;
}

.title {
    font-size: 36px;
    font-weight: 800;
}

.footer,
.disclaimer {
    font-size: 12px;
    font-weight: 200;
}